{% extends "templates/base.html" %}
{% block title %}Volunteer Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<!--
    <h1>Index</h1>
    <p class="important">
      Welcome on my awesome homepage.
    </p>
    -->
     <div class="row-fluid">
        <div class="span3">
        	{%include "templates/volunteer/sidebar.html"%}
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h2>My Requests</h2>
            <p>The following are requests you have submitted to your Peace Corps Medical Officer:</p>
            <label for="filtertext" style="display:inline; margin-right:10px;">Filter:</label><input type="text" class="f_txt" name = "filtertext"/>
            <script>
			$(function(){ 
			$(".f_txt").table_filter({
				'table':'.requestTable',
				'filter_inverse':false,
				'enable_space':false
				});
			});
			</script>

            <table width="100%" border="0" class="requestTable">
              <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th align="right">Phone</th>
                <th>Email</th>
                <th>Trainee Input</th>
                <th>COS</th>
                <th align="right">Project</th>
                <th>Site Location</th>
                <th>notes</th>
              </tr>
                {% for v in volunteers %}
              <tr>
                <td>{{ v.last_name }}</td>
                <td>{{ v.first_name }}</td>
                <td align="right">{{ v.phone }}</td>
                <td>{{ v.email }}</td>
                <td>{{ v.trainee_input }}</td>
                <td>{{ v.cos.strftime('%m/%d/%Y') }}</td>
                <td align="right">{{ v.project }}</td>
                <td>{{ v.sitelocation }}</td>
                <td>{{ v.notes }}</td>
              </tr>
                {% endfor %}
            </table>
            <p>&nbsp;</p>
           
           {{ formhtml }}
            <p><a href="#" class="btn btn-primary btn-large">Add a new request &raquo;</a></p>
          </div>
  
          
        </div><!--/span-->
      </div><!--/row-->


{% endblock %}