{% extends "/templates/base.html" %}
{% block title %}PC MedKit{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
    function validatelogin() {
        if ($("#post_code").val() == "") {
            alert("Please select a post!");
            return false;
        }
    };
    </script>
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

 <div class="row-fluid" style="margin-top: 5%">
    <div class="span2 offset4">
        <h1>Log In</h1>
        <form action="/" method="POST" onsubmit="return validatelogin();" >

            <label for="post_code">POST:</label>
            <select id="post_code" name="post_code">
            <option value=""></option>
            {% for p in PostDefault.all().order('post_name') %}<option value="{{ p.slug }}" {% if p.slug == post_code %}selected="selected"{% endif %}>{{ p.post_name }}</option>{% endfor %}
            </select>
            <br>
            <label for="code">MEDKIT CODE:</label>
            <input name="code" type="password" placeholder="MedKit Request Code">
            <br>
            <input style="float: right" type="submit" value="Submit" class="btn btn-primary" />
            <a href="/admin">Admin?</a>
        </form>

    </div>
 </div>

{% endblock %}