{% extends "/templates/base.html" %}
{% block title %}PC MedKit{% endblock %}
{% block nav_list %}
{% include "/templates/volunteer/navbar.html" %}
{% endblock %}

{% block content %}

 <div class="row-fluid">
    <div class="span12" style="text-align: center">
        <div style="padding:2em; line-height: 2em;">
            <h1>ENTER MEDKIT CODE:</h1>
            <form action="/post/{{ post_code }}/medkit" method="POST" class="form-inline">
            <input name="code" type="password" placeholder="MedKit Request Code">
            <input type="submit" value="Submit" class="btn" />
            </form>
        </div>
    </div>
 </div>


{% endblock %}