{% extends "/templates/base.html" %}
{% block nav_list %}
    {% include "/templates/volunteer/navbar.html" %}
{% endblock %}
{% block brand %}<a class="brand" href="#">MedKit #{{ kit_id }}</a>{% endblock %}
{% block head %}

    {{ super() }}
   <script type="text/javascript">
   var descriptions = [{% for s in Supply.all().order('name') %}{% if loop.index != 0 %},{% endif %}'x {{ s.description|e }}'{% endfor %}];

    $(document).ready(function () {

       // Inserts the description of the quantity (AKA Supply.description), whenever the selector changes
       function update_supply_description(selector){

           var selected = $(selector).find('option:selected');
           var des_index = parseInt($(selected).data('des'));
           var max =  parseInt($(selected).data('max'));
           var order = $(selector).attr('name').split("_")[1];
           $("#description_"+ order).html(descriptions[des_index]);
           var max_options = "";
            for (var i=1;i<=max;i++) {
                max_options += '<option value="' + i + '">' + i + '</option>'
            };
           $('select[name="qty_' + order + '"]').html(max_options);

       };
        update_supply_description($($(".sup_sel")[0]))
        $('#sr_table').on('change', '.sup_sel', function(event) {
            update_supply_description(this);
        });

      // add another supply request to the list
        $("#add_sr").click(function(){
            var last_row = $(".sr_row").last();
            var new_row = $(last_row).clone();
            var new_row_selector = $(new_row.find("select"));
            var new_row_qty = $(new_row.find(".qty_sel"));
            var new_row_description = $(new_row.find(".qty_description"));
            var next = parseInt(new_row_selector.attr('name').split("_")[1]) + 1;
            new_row_selector.attr("name", "supply_" + String(next));
            new_row_qty.attr("name", "qty_" + String(next));
            new_row_description.attr("id", "description_" + String(next));
            new_row_description.html("");
            $('#supply_requests').append(new_row);
            });
        // remove supply request from the list
        $('#sr_table').on('click', '.remove_sr', function(event) {
            var cell = $(this).parent();
            var row = $(cell).parent();
            $(row).remove();
            });
        // dynamic Delivery Notes... "Other" corresponds to Custom Delivery Event Form
        function update_delivery_notes(selector) {
            var selector = $(selector)
            var selected = $(selector.find('option:selected'));
            if (selected.val() == 'other') {
                $("#delivery_event_notes").hide();
                $("#custom_delivery_event_form").show();
            }
            else {
            var description =  selected.data('des');
            var date =  selected.data('date');
            $("#delivery_event_notes").show();
            $("#custom_delivery_event_form").hide();
            $("#delivery_event_notes").html('<strong>Date:</strong> ' + date + '<br><strong>Description:</strong> ' + description);
            };
        };
        update_delivery_notes($("#delivery_event"));
        $('.de_sel').change(function() {
            update_delivery_notes(this);
        });


    });
    </script>
    <script type="text/javascript">  
            $(document).ready(function(){
                $("#request tr:odd").addClass("odd");
                $("#request tr:not(.odd)").hide();
                $("#request tr:first-child").show();
            
                $("#request tr.odd").click(function(){
                    $(this).next("tr").toggle();
                    $(this).find(".arrow").toggleClass("up");
                });
                //$("#request").jExpand();
            });
        </script>
    <style type="text/css">
         #request { border-collapse:collapse;}
         #request h4 { margin:0px; padding:0px;}
         #request img { float:right;}
         #request ul { margin:10px 0 10px 40px; padding:0px;}
         #request th { background:#7CB8E2 url(header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
         #request td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
         #request tr.odd td { background:#fff url(row_bkg.png) repeat-x scroll center left; cursor:pointer; }
         #request div.arrow { background:transparent url(arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
         #request div.up { background-position:0px 0px;}

    .de_sel {
        width: 400px;
    }
    #delivery_event_notes {
        font-style: italic;
    }
    table td.minus{
        vertical-align: top;
        padding-top: 3px;
    }
    .qty_sel {
        width: 50px;
    }
    </style>
{% endblock %}
{% block content %}

 <div class="row-fluid">
    <div class="span12">
          <form action="/{{ post_code }}/{{ kit_id }}/request"  method="POST">
            <h2>Request Supplies</h2>
            <table id="sr_table">
                <tr style="text-align:center"><th colspan=2>Supply</th><th>Qty</th><th></th></tr>
                <tbody id="supply_requests">
                    <tr class="sr_row">
                        <td class="minus"><a href="#" class="remove_sr btn btn-small"><i class="icon-minus"></i></a></td>
                        <td>
                            <select name="supply_1" class="sup_sel">
                            {% for s in Supply.all().order('name') %}
                                <option value="{{ s.key() }}" data-des="{{ loop.index }}" data-max="{{ s.maximum }}">{{ s.name }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="qty_1" class="qty_sel">
                                <option val="1">1</option>
                            </select>
                        </td>
                        <td id="description_1" class="qty_description"></td>
                    </tr>
            </tbody>
            <tr>
                <td colspan="3" style="text-align:right"><a href="#" class="btn btn-small" id="add_sr"><i class="icon-plus"></i></a></td>
                <td></td>
                </tr>
            </table>
                <h2>Choose Delivery Method</h2>
                <select id="delivery_event" name="delivery_event" class="de_sel">
                        {% for de in delivery_events %}
                            <option value="{{ de.key() }}" data-des="{{ de.notes|e }}" data-date="{{ de.date.strftime("%m/%d/%Y") }}">{{ de.name|e }}</option>
                        {% endfor %}
                    <option value="other">Other</option>
                </select>
                <br><span id="delivery_event_notes"></span>
                    <span id="custom_delivery_event_form" style="display: none;">
                        <strong>Create a Custom Delivery Method:</strong>
                        <label>Delivery Method Name:</label>{{ def.name }}
                        <label>Date:</label>{{ def.date }}
                        <label>Delivery Method Description:</label>{{ def.notes }}
                    </span>
            <br>
            <br>
            {{ srf.volunteer_notes.label }}{{ srf.volunteer_notes }}
            <br>
            <br>
            <br>
            <input type="submit" value="Submit" class="btn" />
            </form>

            <h1>REQUEST LOG for {{ volunteer.first_name }} {{ volunteer.last_name }} (Kit# {{ MedKit.key().id() }})</h1>
                <table style="padding:3em;" class="table" id="request">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date Submitted</th>
                      <th>Delivery Event</th>
                      <th>Status</th>
                      <th>Status Notes</th>
                      <th>Volunteer Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in requests %}
                      <tr>
                        <td> {{ row.key().id() }} </td>
                        <td> {{ row.date.strftime('%d/%m/%Y') }} </td>
                        <td> {{ row.delivery_event }} </td>
                        <td> {{ row.status }} </td>
                        <td> {{ row.status_notes }} </td>
                        <td> {{ row.volunteer_notes }} </td>
                        <td><div class="arrow"></div></td>
                      </tr>
                      <tr>
                        {# colspan must equal number of cols in table #}
                        <td colspan="7">

                          <table style="padding:3em;" class="table" id="foo">
                            {# <thead> #}
                            {#   <tr> #}
                            {#     <th>Item</th> #}
                            {#     <th>Quantity</th> #}
                            {#   </tr> #}
                            {# </thead> #}
                            <tbody>
                              {% for sup in row.supplies %}
                              <tr>
                                <td> {{ Supply.get(sup) }} </td>
                                <td> {{ row.quantities[loop.index] }} </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                      </tr>
                    {% endfor %}
                  </tbody>
                    </table>
        </div>
    </div>
 </div>

{% endblock %}
