{% extends "/templates/base.html" %}
{% block nav_list %}{% endblock %}
{% block brand %}<a class="brand" href="/{{ post_code }}/{{ kit_id }}/status?k={{ mk }}">MedKit #{{ kit_id }}</a>{% endblock %}


{% block content %}

 <div class="row-fluid">
    <div class="span12">
        <div style="padding:2em; line-height: 2em;">
            <h1>Hi {{ volunteer.first_name }} {{ volunteer.last_name }}!</h1>
            <h1>REQUEST LOG for Kit# {{ MedKit.key().id() }}</h1>
            {% include "/templates/request_table.html" %}
            <div style="text-align: right;">
                <a href="/{{ post_code }}/{{ kit_id }}/request?k={{ mk }}" class="btn btn-primary">New Supply Request</a>
            </div>
        </div>
    </div>
 </div>


{% endblock %}