{% extends "templates/base.html" %}
{% block title %}Medical Officer Home{% endblock %}
{% block head %}
    {{ super() }}



{% endblock %}

{% block content %}

     <div class="row-fluid">
        <div class="span12" style="text-align: center">
            <h1>Register Medical Box</h1>
            <form action="/" method="POST">
            {% for form_item in MedBoxForm %}
                {{ form_item.label }}{{ form_item }}
            {% endfor %}
            </form>

        </div>
      </div>


{% endblock %}