

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit Post Admin</h3>
    </div>
    <div class="modal-body">
    <form action="/admin/hq/pd_admin" method="POST">
        <p>

        <strong>Post Name:</strong> <input name="name" value="{{ post_default.post_name|e }}" /><br>
        <strong>URL Code: </strong> <input name="slug" value="{{ post_default.slug|e }}" /><br>
        <strong>Admin Emails</strong><br>
        {% if post_default.post_admin %}

            {% for admin in post_default.post_admin %}
            <input name="email_{{ loop.index }}" value="{{ admin }}" /> <br>
            {% endfor %}
            {% else %}
                <input name="email_1" value="" />
            {% endif %}
    </p>
    </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
