{% extends "/templates/base.html" %}
{% block nav_list %}{% endblock %}
{% block brand %}<a class="brand" href="/{{ post_code }}/{{ kit_id }}/status?k={{ mk }}">MedKit #{{ kit_id }}</a>{% endblock %}
{% block head %}

    {{ super() }}
   <script type="text/javascript">
   var descriptions = [{% for s in Supply.all().order('name') %}{% if loop.index != 0 %},{% endif %}'x {{ s.description|e }}'{% endfor %}];
    $(document).ready(function () {

       // Inserts the description of the quantity (AKA Supply.description), whenever the selector changes
       function update_supply_description(selector){

           var selected = $(selector).find('option:selected');
           var des_index = parseInt($(selected).data('des'));
           var max =  parseInt($(selected).data('max'));
           var order = $(selector).attr('name').split("_")[1];
           $("#description_"+ order).html(descriptions[des_index]);
           var max_options = "";
            for (var i=1;i<=max;i++) {
                max_options += '<option value="' + i + '">' + i + '</option>'
            };
           $('select[name="qty_' + order + '"]').html(max_options);

       };
        update_supply_description($($(".sup_sel")[0]))
        $('#sr_table').on('change', '.sup_sel', function(event) {
            update_supply_description(this);
        });

      // add another supply request to the list
        $("#add_sr").click(function(){
            var last_row = $(".sr_row").last();
            var new_row = $(last_row).clone();
            var new_row_selector = $(new_row.find("select"));
            var new_row_qty = $(new_row.find(".qty_sel"));
            var new_row_description = $(new_row.find(".qty_description"));
            var next = parseInt(new_row_selector.attr('name').split("_")[1]) + 1;
            new_row_selector.attr("name", "supply_" + String(next));
            new_row_qty.attr("name", "qty_" + String(next));
            new_row_description.attr("id", "description_" + String(next));
            new_row_description.html("");
            $('#supply_requests').append(new_row);
            });
        // remove supply request from the list
        $('#sr_table').on('click', '.remove_sr', function(event) {
            var cell = $(this).parent();
            var row = $(cell).parent();
            $(row).remove();
            });



    });
    </script>
{% endblock %}
{% block content %}

 <div class="row-fluid">
    <div class="span12">
          <form action="/{{ post_code }}/{{ kit_id }}/request"  method="POST">
          <input type="text" style="display: none" value="{{ MedKit.key() }}" name="mk">
            <h2>Supply Request Form</h2>
            <table id="sr_table">
                <tr style="text-align:center"><th colspan=2>Supply</th><th>Qty</th><th></th></tr>
                <tbody id="supply_requests">
                    <tr class="sr_row">
                        <td class="minus"><a href="#" class="remove_sr btn btn-small"><i class="icon-minus"></i></a></td>
                        <td>
                            <select name="supply_1" class="sup_sel">
                            {% for s in Supply.all().order('name') %}
                                <option value="{{ s.key() }}" data-des="{{ loop.index }}" data-max="{{ s.maximum }}">{{ s.name }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="qty_1" class="qty_sel">
                                <option val="1">1</option>
                            </select>
                        </td>
                        <td id="description_1" class="qty_description"></td>
                    </tr>
            </tbody>
            <tr>
                <td colspan="3" style="text-align:right"><a href="#" class="btn btn-small" id="add_sr"><i class="icon-plus"></i></a></td>
                <td></td>
                </tr>
            </table>
          <br>
          <br>
                        {{ srf.volunteer_notes.label }}{{ srf.volunteer_notes }}
          <br>
            <input type="submit" value="Submit" class="btn" />
            </form>
        </div>
    </div>
 </div>

{% endblock %}
