<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block stylesheets %}
    <!-- jquery -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <!-- twitter bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">        
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">      
    <!-- my code -->
    <link href="/css/main.css" rel="stylesheet" >
    {% endblock %} 


    {% block javascript %}
    <!-- jquery -->
    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <!-- twitter bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    
{#    <!-- filter table -->#}
{#    <script type="text/javascript" src="js/jquery.table_filter.js"></script>#}
    <!-- my code -->
    <script type="text/javascript" rel="js" src="/js/main.js"></script>
    {% endblock %}
    
    
    {% block google_analytics %}
    <!-- google analytics -->
     <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-41387766-1', 'pcmedkit.appspot.com');
	  ga('send', 'pageview');
	</script>
    
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    
    {% endblock %}
  </head>  
  <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">PC MedKit</a>
              <div class="nav-collapse collapse">
            {% block nav_list %}
            {% endblock %}
              </div>
            </div>
          </div>
        </div>
    
    <div class="container-fluid">
        {% block content %}
            {{ dumb_content }}
        {% endblock %}
    </div>
    
  </body>
</html>
