{% extends "templates/base.html" %}
{% block title %}PC MedKit{% endblock %}

{% block content %}

 <div class="row-fluid">
    <div class="span12" style="text-align: center">
        <div style="padding:2em;">
            <h1><a href="/post/xxx/medkit" class="btn btn-primary btn-large">I AM A VOLUNTEER</a></h1>
            <h1>- OR -</h1>
            <h1><a href="/post/xxx/admin" class="btn btn-primary btn-large">I AM A MEDICAL SECRETARY</a></h1>
        </div>
    </div>
 </div>


{% endblock %}