{% extends "templates/base.html" %}
{% block title %}PC MedKit{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".region_go").click(function(e) {

            var post_code = $("#post").val()
            if (post_code != "") {
            var direct = "/post/" + post_code + $(this).data("url_ending")
            window.location = direct;
            }
            else {
                alert('Select a Regional Post Code')
            }

        })

    })


    </script>
    <style>
    h1 {
        line-height: 2em;
    }

    </style>
{% endblock %}

{% block content %}

 <div class="row-fluid">
    <div class="span6 offset3">
        <div style="padding:2em;">
            <h1>
                <span style="margin-right: 1em;">SELECT POST: </span>
                <select id="post">
                    <option value=""></option>
                    {% for p in PostDefault.all().order('post') %}<option value="{{ p.slug }}">{{ p.post }}</option>{% endfor %}
                </select>
            </h1>
            <h1><button class="btn btn-primary btn-large region_go" data-url_ending="/medkit">I AM A VOLUNTEER</button>
             <span style="margin: 0 1em 0 1em;"> OR </span>
             <button class="btn btn-primary btn-large region_go" data-url_ending="/admin">I AM A MEDICAL SECRETARY</button></h1>
        </div>
    </div>
 </div>


{% endblock %}