<table class="table" id="request_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Requested Items</th>
      <th>Date Submitted</th>
      <th>Delivery Event</th>
      <th>Status</th>
      <th>Status Notes</th>
      <th>Volunteer Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for row in requests %}
      <tr>
        <td> {{ row.key().id() }} </td>
        <td>
              {% for sup in row.supply_objects %}
              <strong>{{ row.quantities[loop.index-1] }}</strong>  {{ sup.name }}  ({{ sup.description }})<br>
              {% endfor %}
        </td>
        <td> {{ row.date.strftime('%m/%d/%Y') }} </td>
        <td> {{ row.delivery_event.name }} </td>
        <td> {{ row.status }} </td>
        <td> {{ row.status_notes }} </td>
        <td> {{ row.volunteer_notes }} </td>
      </tr>
      <tr>


    {% endfor %}
  </tbody>
</table>
