{% extends "templates/base.html" %}
{% block title %}Volunteer Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<!--
    <h1>Index</h1>
    <p class="important">
      Welcome on my awesome homepage.
    </p>
    -->
     <div class="row-fluid">
        <div class="span3">
        	{%include "templates/volunteer_sidebar.html"%}
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h2>Request status.</h2>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <input type="text" class="f_txt"/>
            <script>
			$(function(){ 
			$(".f_txt").table_filter({
				'table':'.f_tbl',
				'filter_inverse':false,
				'enable_space':false
				});
			});
			</script>
            <table width="100%" border="0" class="requestTable">
              <tr>
                <td>Date</td>
                <td>Delivery Event</td>
                <td>Status</td>
                <td>Supplies</td>
              </tr>
              <tr>
                <td>04/20/2013</td>
                <td>Pickup on 5/1/2013</td>
                <td>Requested</td>
                <td>Hand-Santizer (30)</td>
              </tr>
              <tr>
                <td>04/15/2013</td>
                <td>Pickup on 5/1/2013</td>
                <td>Requested</td>
                <td>Condoms (120)</td>
              </tr>
            </table>
            <p>&nbsp;</p>
            
            <script>
			$('#requestTable').ddTableFilter();
			</script>
            
            <p><a href="#" class="btn btn-primary btn-large">Add a new request &raquo;</a></p>
          </div>
  
          
        </div><!--/span-->
      </div><!--/row-->


{% endblock %}