{% extends "/templates/base.html" %}
{% block title %}Assign MedKit{% endblock %}
{% block nav_list %}
{% include "/templates/postadmin/navbar.html" %}
{% endblock %}

{% block content %}
     <div class="row-fluid">
        <div class="span12">
            <h1>Assign Medical Box</h1>
            <form action="{{ path }}" method="POST">
            {{ vf.first_name.label }}{{ vf.first_name }}
            {{ vf.last_name.label }}{{ vf.last_name }}
            {{ vf.email.label }}{{ vf.email }}
            <label>Phone Number</label>{{ vf.phone }}
            <label>Project</label>{{ vf.project }}
            <label>COS</label>{{ vf.cos(class_="cos_input") }}
            <label>Site Location</label>{{ vf.sitelocation }}
             {{ vf.notes.label }}{{ vf.notes }}
             <br><input type="submit" class="btn" value="submit">
            </form>

        </div>
      </div>


{% endblock %}