{% extends "/templates/base.html" %}
{% block title %}PC MedKit - Post Admin{% endblock %}
{% block nav_list %}
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
   <h1>All Posts</h1>
</div>
</div>

<div class="row-fluid">
    <div class="span2">


        <h3>Africa</h3>
        <ul>
        {% for p in PostDefault.all().filter("region =", "AFR").order("post_name") %}
            <li>
            <a href="admin/{{ p.slug }}">{{ p.post_name }}</a>
            </li>
        {% endfor %}
        </ul>
        <h3>Europe, Mediterranean, and Asia Region</h3>
        <ul>
            {% for p in PostDefault.all().filter("region =", "EMA").order("post_name") %}
                <li>
                <a href="admin/{{ p.slug }}">{{ p.post_name }}</a>
                </li>

            {% endfor %}
        </ul>
    </div>
    <div class="span2">
        <h3>Inter-America and Pacific Region</h3>
        <ul>
            {% for p in PostDefault.all().filter("region =", "IAP").order("post_name") %}
                <li>
                <a href="admin/{{ p.slug }}">{{ p.post_name }}</a>
                </li>

            {% endfor %}
        </ul>
        <h3>Other</h3>
        <ul>
            {% for p in PostDefault.all().filter("region =", "Other").order("post_name") %}
                <li>
                <a href="admin/{{ p.slug }}">{{ p.post_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
 </div>



{% endblock %}