{% extends "/templates/base.html" %}
{% block title %}PC MedKit - Post Admin{% endblock %}
{% block nav_list %}
{% include "/templates/postadmin/navbar.html" %}
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12" style="text-align: center">
        <div style="padding:2em; line-height: 2em;">
            <h1>REQUESTS</h1>
            {% include "/templates/request_table.html" %}



{#<script type="text/javascript">#}
{#    %(document).ready(function(){#}
{#           // dynamic Delivery Notes... "Other" corresponds to Custom Delivery Event Form#}
{#        function update_delivery_notes(selector) {#}
{#            var selector = $(selector)#}
{#            var selected = $(selector.find('option:selected'));#}
{#            if (selected.val() == 'other') {#}
{#                $("#delivery_event_notes").hide();#}
{#                $("#custom_delivery_event_form").show();#}
{#            }#}
{#            else {#}
{#            var description =  selected.data('des');#}
{#            var date =  selected.data('date');#}
{#            $("#delivery_event_notes").show();#}
{#            $("#custom_delivery_event_form").hide();#}
{#            $("#delivery_event_notes").html('<strong>Date:</strong> ' + date + '<br><strong>Description:</strong> ' + description);#}
{#            };#}
{#        };#}
{#        update_delivery_notes($("#delivery_event"));#}
{#        $('.de_sel').change(function() {#}
{#            update_delivery_notes(this);#}
{#        });#}
{#    #}
{#    })#}
{#</script>#}

{#                  <h2>Choose Delivery Method</h2>#}
{#                <select id="delivery_event" name="delivery_event" class="de_sel">#}
{#                        {% for de in delivery_events %}#}
{#                            <option value="{{ de.key() }}" data-des="{{ de.notes|e }}" data-date="{{ de.date.strftime("%m/%d/%Y") }}">{{ de.name|e }}</option>#}
{#                        {% endfor %}#}
{#                    <option value="other">Other</option>#}
{#                </select>#}
{#                <br><span id="delivery_event_notes"></span>#}
{#                    <span id="custom_delivery_event_form" style="display: none;">#}
{#                        <strong>Create a Custom Delivery Method:</strong>#}
{#                        <label>Delivery Method Name:</label>{{ def.name }}#}
{#                        <label>Date:</label>{{ def.date }}#}
{#                        <label>Delivery Method Description:</label>{{ def.notes }}#}
{#                    </span>#}
{#            <br>#}
{#            <br>#}

{#            <br>#}
{#            <br>#}
{#            <br>       #}









        </div>
    </div>
 </div>



{% endblock %}