{% extends "/templates/postadmin/landing.html" %}
{% block title %}Supplies{% endblock %}


{% block content %}

 <div class="row-fluid">
    <div class="span12" style="text-align: center">
        <div style="padding:2em; line-height: 2em;">
            <h1>Available Supplies</h1>

                    <table style="padding:3em;" class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in supplies %}
                          <tr>
                            <td> {{ row.name }} </td>
                            <td> {{ row.description }} </td>
                            <td> {{ row.maximum }} </td>
                          </tr>
                        {% endfor %}
                        <tr>
                          <th colspan="3">Add Supplies</th>
                        </tr>
                        <tr>
                          <td colspan="3">
                                <form action="{{ path }}" class="form-inline" method="POST">
                                  {{ sf.name.label }}{{ sf.name }}
                                  {{ sf.description.label }}{{ sf.description }}
                                  {{ sf.maximum.label }}{{ sf.maximum }}
                                  <br><input type="submit" class="btn" value="submit">
                                </form>
                          </td>
                        </tr>

                      </tbody>
                    </table>
        </div>
    </div>
 </div>

{% endblock %}