{% extends "/templates/postadmin/landing.html" %}
{% block title %}Supplies{% endblock %}


{% block content %}

 <div class="row-fluid">
    <div class="span5" style="text-align: center">
        <div style="padding:2em; line-height: 2em;">
            <h1>Available Supplies</h1>
            <form action="{{ path }}" class="form-inline" method="POST">
                    <table class="table standard_table">
                      <thead>
                        <tr>
                          <th style="width: 40%">Name</th>
                          <th style="width: 40%">Description</th>
                          <th>Maximum</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in supplies %}
                          <tr>
                            <td> {{ row.name }} </td>
                            <td> {{ row.description }} </td>
                            <td> {{ row.maximum }} </td>
                          </tr>
                        {% endfor %}

                        <tr>
                                  <td>{{ sf.name }}</td>
                                  <td>{{ sf.description }}</td>
                                  <td>{{ sf.maximum }}</td>
                        </tr>
                        <tr>
                          <td colspan="3" style="text-align: right"><input type="submit" class="btn" value="Add New Supply"></input></td>
                        </tr>
                      </tbody>
                    </table>
            </form>
        </div>
    </div>
 </div>

{% endblock %}